*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    /* height: 100%; */
    width: 100%; 
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
main{
    width: 100%;
}
main section{
    width: 100%;
    padding: var(--padding-2xl);
}
.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}
main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
    padding-bottom: var(--padding-lg);

}
main section .bottum{
    background-color:var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio:5/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}
main section .bottum .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;

}
main section .bottum .placeholder i{
    font-size: 8rem;
}
main section .bottum .placeholder p{
    font-size: var(--font-size-lg);
}

main section .left{
    display: flex;
    flex-direction: column;
    grid-auto-rows: var(--gutter-lg);
    width: 70%;
    align-items: center;
}
main section .right{
    width: 30%;
}
#reset-btn{
    background-color: var(--bg-danger-color);
}
#download-btn{
    background-color: var(--bg-succse-color);
}
