*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    /* height: 100%; */
    width: 100%; 
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
main{
    width: 100%;
}
main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}
.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}
main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
    padding-bottom: var(--padding-lg);

}
main section .bottum{
    background-color:var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio:5/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    align-items: center;
    justify-content: center;
}
main section .bottum .placeholder{
    display: flex;
    flex-direction: column;
    align-items:center;
    opacity: 0.6;

}
main section .bottum .placeholder i{
    font-size: 8rem;
    
}
main section .bottum .placeholder p{
    font-size: var(--font-size-lg);
}

main section .left{
    display: flex;
    flex-direction: column;
    grid-auto-rows: var(--gutter-lg);
    width: 70%;
    align-items: center;
}
#reset-btn{
    background-color: var(--bg-danger-color);
}
#download-btn{
    background-color: var(--bg-succse-color);
}
main section .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* background-color: var(--bg-secondary-color); */
    padding:0.3rem;
    padding-left: var(--gutter-sm);
    padding-right: var(--gutter-sm);
    gap: var(--gutter-md);
    
}
main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}
main section .right .filter{
   width: 100%;
}
main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}
main section .right .filter input::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:#bfc5cf;
    appearance: none;
    cursor: pointer;
    margin-top: -6.5px;
    box-shadow:  0 0 6px rgba(99,102,241,0.6);
}
main section .right .filter input::-webkit-slider-thumb:hover{
    background-color: #ffffff;
}
main section .right .filter input::-webkit-slider-runnable-track{
    background-color:#2a2a2a;
    height: 3px;
    /* background-color: rgb(188, 188, 182); */
}
#image-canvas{
    /* background-color: red; */
    max-width: 100vh;
    max-height: 60vh;
    padding: 0%;
}