*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    /* Background and text colors */
    --bg-color: #000000;
    --primery-text-color:#ebe3e3;
    --bg-button-color:#1a1a1a;
    --bg-task-color:#292727;
    --delete-color:#f73c3c;
    /* Padding variables */
    --nav-padding:15px 30px;
    --section-padding:15px 30px;
    --padding-s:15px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:30px;
    /* border-radius variables */
    --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-xxl:25px;
}
body{
    background-color: var(--bg-color);
    color:var(--primery-text-color);
}
nav{
    padding:var(--nav-padding);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav button{
    background-color: var(--bg-button-color);
    border: none;
    outline:none;
    cursor: pointer;
    color:var(--primery-text-color);
    padding:var(--padding-l)var(--padding-m);
    border-radius: var(--border-radius-m);
}
section{
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap:var(--padding-xxl);
}
section .task-colum{
    flex-grow: 1;
    background-color: var(--bg-button-color);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    transition: all 0.07 cubic-bezier(0.19, 1, 0.22, 1);
}
.hover-over{
    border: 2px dashed var(--primery-text-color);
    scale: 1.02;
}
section .task-colum .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .task-colum .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    cursor: grab;
}
section .task-colum .task button{
    align-self: flex-end;
    cursor: pointer;
    outline: none;
    border: none;
    padding:  var(--padding-m);
    border-radius: var(--border-radius-s);
    background-color: var(--delete-color);
    color: var(--primery-text-color);
}